<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019527118787-hjb42khbk4p4tlfgd9ocg9ktp8iaau3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019527118787-hjb42khbk4p4tlfgd9ocg9ktp8iaau3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAmBch50b2lUI6WS08h8qqKBDfODsmIYvM</string>
	<key>GCM_SENDER_ID</key>
	<string>1019527118787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.axisMobile</string>
	<key>PROJECT_ID</key>
	<string>axis-e72fd</string>
	<key>STORAGE_BUCKET</key>
	<string>axis-e72fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019527118787:ios:bcb6dd22acff1c91b54776</string>
</dict>
</plist>